{% extends "base.html" %}

{% block content %}

<h1>
    Scheduled Jobs
</h1>

<table class="ui striped table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Picture</th>
            {% for trade in trading %}
                <th>Schedule {{trade.trading}}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for strategy in strategies %}
    <tr>
        <td>
            {{ strategy.name }}
        </td>
        <td>
            <img id="myImg{{strategy.id}}" src="{{ strategy.url_pic }}" alt="img{{ strategy.name }}" width="10%">

            <!-- The Modal -->
            <div id="myModal{{strategy.id}}" class="modal">

                <!-- The Close Button -->
                <span class="close" id="close{{strategy.id}}">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img{{strategy.id}}">

                <!-- Modal Caption (Image Text) -->
                <div id="caption{{strategy.id}}"></div>
            </div>
        </td>
        {% for trade in trading %}
        <td>
            <a href="strategy/{{ strategy.name }}/applied">List</a>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}