{% extends "base.html" %}

{% block content %}

<link href="{{ url_for('static', filename='/css/trading_detail.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/toggle_div.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/handle_submit_strategy.js') }}"></script>

<script>

// variables for the js-file to handle strategy-submit
var handle_submit_strategy_var = {

stocks_bollinger: "{{stocks_bollinger}}",
stocks_breakdown: "{{stocks_breakdown}}",
stocks_breakout: "{{stocks_breakout}}",

disable_apply_button: "submitting",

stock_id: "{{ stock.id }}",

actual_document: document,
show_placed_div: "divX",

strategy_name : "0"
};

// Actualizes the values according to applied strategy and checks whether the stock/crypto is already traded (for red box interaction with user)
function myfunctionhandler(display) {

    if(handle_submit_strategy_var.strategy_name == "bollinger_bands"){
        document.getElementById('stddev').value = document.getElementById('stddev_bollinger').value
        document.getElementById('period').value = document.getElementById('period_bollinger').value
        document.getElementById('trade_price').value = document.getElementById('trade_price_bollinger').value
    }

    if(handle_submit_strategy_var.strategy_name == "opening_range_breakout"){
        document.getElementById('observe_from').value = document.getElementById('observe_from_breakout').value
        document.getElementById('observe_until').value = document.getElementById('observe_until_breakout').value
        document.getElementById('trade_price').value = document.getElementById('trade_price_breakout').value
    }

    if(handle_submit_strategy_var.strategy_name == "opening_range_breakdown"){
        document.getElementById('observe_from').value = document.getElementById('observe_from_breakdown').value
        document.getElementById('observe_until').value = document.getElementById('observe_until_breakdown').value
        document.getElementById('trade_price').value = document.getElementById('trade_price_breakdown').value
    }

    if (handle_submit_strategy_var.stocks_breakout.includes(handle_submit_strategy_var.stock_id) || handle_submit_strategy_var.stocks_breakdown.includes(handle_submit_strategy_var.stock_id) || handle_submit_strategy_var.stocks_bollinger.includes(handle_submit_strategy_var.stock_id) ){
        handle_submit_strategy_var.actual_document.getElementById(handle_submit_strategy_var.show_placed_div).style.display = display;
        var disabled = true
        if(display == 'none'){
            disabled = false
        }
        else if (display == 'block'){
            disabled = true
        }
        handle_submit_strategy_var.actual_document.getElementById(handle_submit_strategy_var.disable_apply_button).disabled = disabled;

        return false;
    }
    else {
        return true;
    }
}

</script>

<h1><a  href="/{{broker.name}}/index/{{trading.trading}}">{{trading.name}}s {{broker.name}}</a>
    <i class="angle double right icon"></i>
    {{ stock.name }} ({{ stock.symbol }})
</h1>

<!-- <h2>Market: {{stock.market_name}}</h2> -->

<div class="tradingview-widget-container">
    <div id="tradingview_a8dd1"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": "100%",
                "height": 610,
                "symbol": "{% if broker.name == 'alpaca' %}{% if stock.exchange == 'ARCA' %}AMEX{% else %}{{ stock.exchange }}{% endif %}:{{stock.symbol}}{% elif broker.name == 'xtb' %}{{symbol}}{% elif broker.name == 'binance' %}{{stock.symbol}}{% endif %}",
                "interval": "D",
                "timezone": "Europe/London",
                "theme": "dark",
                "style": "1",
                "locale": "de_DE",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_a8dd1"
            }
        );
    </script>
</div>

<!-- Toggle-Strategy-Div BEGIN -->

<!--
    1. function changes visibility of div
    2. function asks user to replace applied strategy on stock or apply anyways
-->


<h3>
    Market opening hours today:<br>
    {% if opening_hours['morning_close'] %}
    <!-- Market opens from {{opening_hours['morning_open']}} until {{opening_hours['morning_close']}}<br>and from {{opening_hours['evening_open']}} until {{opening_hours['evening_close']}} -->
    {{opening_hours['morning_open']}} - {{opening_hours['morning_close']}} and {{opening_hours['evening_open']}} - {{opening_hours['evening_close']}}
    {% else: %}
    <!-- Market opens from {{opening_hours['morning_open']}} until {{opening_hours['evening_close']}} -->
    {{opening_hours['morning_open']}} - {{opening_hours['evening_close']}}
    {% endif %}
</h3>


<h2>Apply Strategy</h2>
<form id="form_apply_strategy" name="form_apply_strategy" method="post" action="/{{broker.name}}/apply_strategy">

    <div class="aside">
        <select name="strategy_name", id="strategy_name" class="toggle-divs">
            <option selected="selected" value="">Select item...</option>
            {% for strategy in strategies %}
            <option value="{{ strategy.name }}" {% if title == "Crypto" %}{% if strategy.name != 'bollinger_bands' %}disabled="disabled"{% endif %}{% endif %}>{{strategy.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="aside">

        <!-- div to show BREAKOUT strategy -->
        <div class="divopening_range_breakout" style="display:none;" id="div1">week

            <!-- OBSERVE FROM -->
            <label for="observe_from_breakout">observe_from</label>
            <input type="time" name="observe_from_breakout" id="observe_from_breakout"
                value="{{opening_hours['morning_open']}}" readonly>
            <span class="validity"></span>
            <br>
            <!-- OBSERVE UNTIL -->
            <label for="observe_until_breakout">observe_until</label>
            <input type="time" name="observe_until_breakout" id="observe_until_breakout"
                value="{{opening_hours['morning_open']}}" min="{{opening_hours['morning_open']}}"
                max="{{opening_hours['evening_close']}}">
            <span class="validity"></span>
            <br>
            <!-- TRADING PRICE -->
            <label for="trade_price_breakout">trade_price</label>
            <input type="number" name="trade_price_breakout" id="trade_price_breakout" value=15 min=1 max=10000>
            <span class="validity"></span>
        </div>

        <!-- div to show BREAKDOWN strategy -->
        <div class="divopening_range_breakdown" style="display:none;" id="div2">
            <!-- OBSERVE FROM -->
            <label for="observe_from_breakdown">observe_from</label>
            <input type="time" name="observe_from_breakdown" id="observe_from_breakdown"
                value="{{opening_hours['morning_open']}}" readonly>
            <span class="validity"></span>
            <br>
            <!-- OBSERVE UNTIL -->
            <label for="observe_until_breakdown">observe_until</label>
            <input type="time" name="observe_until_breakdown" id="observe_until_breakdown"
                value="{{opening_hours['morning_open']}}" min="{{opening_hours['morning_open']}}"
                max="{{opening_hours['evening_close']}}">
            <span class="validity"></span>
            <br>
            <!-- TRADING PRICE -->
            <label for="trade_price_breakdown">trade_price</label>
            <input type="number" name="trade_price_breakdown" id="trade_price_breakdown" value=15 min=1 max=10000>
            <span class="validity"></span>
        </div>

        <!-- div to show BOLLINGER strategy -->
        <div class="divbollinger_bands" style="display:none;" id="div3">
            <!-- PERIOD -->
            <label for="period_bollinger">period</label>
            <input type="number" name="period_bollinger" id="period_bollinger" value=15 min=1 max=50>
            <span class="validity"></span>
            <br>
            <!-- PERIOD -->
            <label for="stddev_bollinger">ststockddev</label>
            <input type="number" name="stddev_bollinger" id="stddev_bollinger" value=2 min=1 max=5>
            <span class="validity"></span>
            <br>
            <!-- TRADING PRICE -->
            <label for="trade_price_bollinger">trade_price</label>
            <input type="number" name="trade_price_bollinger" id="trade_price_bollinger" value=15 min=1 max=10000>
            <span class="validity"></span>
        </div>

        <!-- div to show that strategy is applied -->
        <div class="divX" style="display:none;" id="divX">
            The {% if title == "Stock" %}stock{% elif title == "Crypto" %}cryptocurrency{% endif %} "{{stock.name}}" has already been placed on a strategy.<br>
            See following section "Applied Strategies" to figure out which parameters already are applied.<br>
            Please choose option:<br>
            <ul>
                {% if title == "Stock" %}
                <li><a href="/stock/{{stock.symbol}}" onclick="this.closest('form').submit();return false;">Place anyway:</a><br>
                    <OL>
                        <LI>Continue tracking existing entrys for "{{ stock.name }}".
                        <LI>Add an additional entry.
                    </OL>
                </li>
                <li><a href="/stock/{{stock.symbol}}" onclick="return myfunctionhandler('none')">Cancel</a><br>
                    <OL>
                        <LI>Do nothing.
                    </OL>
                </li>
                {% elif title == "Crypto" %}
                <li><a href="/crypto/{{stock.symbol}}" onclick="this.closest('form').submit();return false;">Place anyway:</a><br>
                    <OL>
                        <LI>Continue tracking existing entrys for "{{ stock.name }}".
                        <LI>Add an additional entry.
                    </OL>
                </li>
                <li><a href="/crypto/{{stock.symbol}}" onclick="return myfunctionhandler('none')">Cancel</a><br>
                    <OL>
                        <LI>Do nothing.
                    </OL>
                </li>
                {% endif %}
            </ul>

        </div>

        <input type="hidden" value=15 name="period" id="period">
        <input type="hidden" value=15 name="stddev" id="stddev">
        <input type="hidden" value=15 name="trade_price" id="trade_price">
        <input type="hidden" value="{{stock.market_open_local}}" name="observe_from" id="observe_from">
        <input type="hidden" value="{{stock.market_close_local}}" name="observe_until" id="observe_until">
        <input type="hidden" name="symbol_id" value="{{ stock.id }}" />
        <input type="hidden" name="trading_id" value="{{ trading.id }}" />
        <input type="submit" value="Apply Strategy" class="testform" onclick="return myfunctionhandler('block')"
            id="submitting" />
</form>
<!-- Toggle-Strategy-Div END -->


<!-- Show all applied strategies on stock Begin-->
{% if parameters_breakout or parameters_breakdown or parameters_bollinger %}
<h2>Applied Strategies</h2>
{% endif %}

{% for strategy in strategies %}
{% if strategy.name == "opening_range_breakout" and parameters_breakout %}
<h3>{{strategy.name}}</h3>
<table class="ui striped table">
    <thead>
        <tr>
            <th>observe_from</th>
            <th>observe_until</th>
            <th>trade_price</th>
        </tr>
    </thead>
    <tbody>
        {% for parameter in parameters_breakout %}
        <tr>
            <td>{{ parameter.observe_from }}</td>
            <td>{{ parameter.observe_until }}</td>
            <td>{{ parameter.trade_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif strategy.name == "opening_range_breakdown" and parameters_breakdown%}
<h3>{{strategy.name}}</h3>
<table class="ui striped table">
    <thead>
        <tr>
            <th>observe_from</th>
            <th>observe_until</th>
            <th>trade_price</th>
        </tr>
    </thead>
    <tbody>
        {% for parameter in parameters_breakdown %}
        <tr>
            <td>{{ parameter.observe_from }}</td>
            <td>{{ parameter.observe_until }}</td>
            <td>{{ parameter.trade_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif strategy.name == "bollinger_bands" and parameters_bollinger%}
<h3>{{strategy.name}}</h3>
<table class="ui striped table">
    <thead>
        <tr>
            <th>period</th>
            <th>stddev</th>
            <th>trade_price</th>
        </tr>
    </thead>
    <tbody>
        {% for parameter in parameters_bollinger %}
        <tr>
            <td>{{ parameter.period }}</td>
            <td>{{ parameter.stddev }}</td>
            <td>{{ parameter.trade_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{%endfor%}

<!-- Show all applied strategies on stock END-->

<h2>Prices</h2>
<table class="ui striped table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
            <th>SMA 20</th>
            <th>SMA 50</th>
            <th>RSI 14</th>
        </tr>
    </thead>
    <tbody>
        {% for bar in bars %}
        <tr>
            <td>{{ bar.date }}</td>
            <td>{{ bar.open }}</td>
            <td>{{ bar.high }}</td>
            <td>{{ bar.low }}</td>
            <td>{{ bar.close }}</td>
            <td>{{ bar.volume }}</td>
            <td>{{ bar.sma_20|float|round(2) }}</td>
            <td>{{ bar.sma_50|float|round(2) }}</td>
            <td>{{ bar.rsi_14|float|round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}